/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../.yarn/__virtual__/next-virtual-9ae9520992/0/cache/next-npm-14.0.4-93c7e4ca0b-879842979d.zip/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!../.yarn/__virtual__/next-virtual-9ae9520992/0/cache/next-npm-14.0.4-93c7e4ca0b-879842979d.zip/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/ui/styles.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-image: url('/background_collage.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }
  
